GEMINI_API_KEY=your_gemini_api_key_here
VITE_APP_TITLE=Juan 614 Hub
VITE_CATALOG_SHEET_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv
VITE_UPCOMING_SHEET_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv
VITE_STUDIO_SESSION_SHEET_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv
VITE_COLLABORATORS_SHEET_URL=https://docs.google.com/spreadsheets/d/e/.../pub?output=csv

# Google Analytics 4
VITE_GA4_MEASUREMENT_ID=G-XXXXXXXXXX
